name: huawei_scan
description: Huawei Scan Flutter Plugin scans all major 1D and 2D barcodes as well as generates barcodes to help you quickly build barcode scanning functions into your apps.
version: 2.12.0+301 
homepage: https://www.huawei.com
repository: https://github.com/HMS-Core/hms-flutter-plugin/tree/master/flutter-hms-scan

environment:
  sdk: ">=2.14.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter  

dev_dependencies:
  flutter_test:
    sdk: flutter 

flutter:
  plugin:
    platforms:
      android:
        package: com.huawei.hms.flutter.scan
        pluginClass: ScanPlugin

