name: huawei_account_example
description: Demonstrates how to use the Huawei Account plugin.
version: 5.2.0+301
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  huawei_account:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
