<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.flutter.push">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name="com.huawei.hms.flutter.push.hms.FlutterHmsMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- This receiver is for local notification click actions -->
        <receiver android:name="com.huawei.hms.flutter.push.receiver.local.HmsLocalNotificationActionsReceiver" />
        <service
            android:name="com.huawei.hms.flutter.push.backgroundmessaging.BackgroundMessagingService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>