<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.huawei.hms.flutter.push">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <service
            android:name="com.huawei.hms.flutter.push.hms.FlutterHmsMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- This receiver is for local notification click actions -->
        <receiver android:name="com.huawei.hms.flutter.push.receiver.local.HmsLocalNotificationActionsReceiver" />
    </application>

</manifest>
