/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
agconnect-services.json
key.properties
**/*.keystore
**/*.jks
.project
.settings
app/.classpath
/gradlew
/gradlew.bat
gradle-wrapper.jar