<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.huawei.hms.flutter.mltext">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:name="com.huawei.hms.flutter.mltext.customview.CustomizedViewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:exported="false"/>
    </application>
</manifest>
