name: huawei_iap_example
description: Demonstrates how to use the Huawei IAP plugin.
version: 5.0.2+301

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  huawei_iap:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/HUAWEI_IAP_icon.png
