<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.flutter.health">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <service
            android:name="com.huawei.hms.flutter.health.modules.autorecorder.service.AutoRecorderBackgroundService"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="HealthKitService" />
            </intent-filter>
        </service>
    </application>
</manifest>
