name: huawei_safetydetect_example
description: Demonstrates how to use the Huawei Safety Detect Plugin.
version: 5.0.3+301

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  huawei_safetydetect:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/huawei_logo.png
