name: huawei_ads_example
description: Demonstrates how to use the HUAWEI Ads plugin.
version: 13.4.35+301
publish_to: 'none'

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  huawei_ads:
    path: ../

flutter:
  uses-material-design: true
  