<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.flutter.ads">

    <application android:usesCleartextTraffic="true">
        <service
            android:name="com.huawei.hms.flutter.ads.installreferrer.PpsChannelInfoService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.android.hms.CHANNEL_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>
